/* MOBILE MODAL */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(46, 47, 66, 0.40);
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.isopen {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.modal_window {
    position: absolute;
    width: 288px;
    min-height: 623px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding-left: 16px;
    padding-right: 16px;
    background: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    fill: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover,
.close-icon:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
    border: none;
}

.close-icon-button {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-discription {
    display: block;
    text-align: center;
    width: 256px;
    height: 48px;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 72px;
    margin-bottom: 16px;
}

.container-input-wraper {
    position: relative;
    margin-bottom: 8px;
}

.review-form-fielld-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.review-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #2E2F4266;
    padding-left: 34px;
    background-color: transparent;
    outline: transparent;
    transition:
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
    border: 1px solid #4D5AE5;
    outline: transparent;
}

.review-form-input:focus+.icon_for_input {
    fill: #4D5AE5;
}

.review-form-fielld-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.divend {
    margin-bottom: 16px;
}

.textarea-coment-form {
    display: block;
    color: #2E2F4266;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
}

.textarea-coment-form:focus {
    border: 1px solid #4D5AE5;
    outline: transparent;
}

.textarea-coment-form::placeholder {
    color: #2E2F4266;
}


.container_checkbox {
    margin-bottom: 24px;
}

.text-agree {
    width: 231px;
    display: inline-block;
}

.custom_checkbox {
    display: inline-flex;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.check_for_input:checked+.label_checkbox>.custom_checkbox {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.check_for_input:focus+.label_checkbox>.custom_checkbox {
    outline: 2px solid #2E2F42;
}


.label_checkbox {
    display: flex;
    align-items: center;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.link_user_privacy {
    color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.button_form_submit {
    display: block;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: transparent;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




/* TABLET MODAL */

@media screen and (min-width: 768px) {
    .modal_window {
        width: 408px;
        min-height: 584px;
    }

    .review-form-discription {
        width: 360px;
        height: 24px;
        margin-top: 72px;
        margin-bottom: 16px;
    }

    .text-agree {
        width: 338px;
    }
}


/* LAPTOP MODAL */

@media screen and (min-width:1158px) {
    .review-form-input {
        padding-left: 38px;}
    
        
  }

















